.home-title {
    font-size: 40px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    color: rgb(28, 28, 28);
    animation: nameColorCycle 5s infinite ease-in-out;
}

@keyframes nameColorCycle {
    0% {
        color: rgb(4, 0, 14);
    }
    10% {
        color: rgb(48, 21, 109);
    }
    20% {
        color: rgb(105, 43, 136);
    }
    30% {
        color: rgb(194, 95, 199);
    }
    40% {
        color: rgb(223, 159, 205);
    }
    50% {
        color: rgb(181, 115, 194);
    }
    65% {
        color: rgb(133, 85, 211);
    }
    85% {
        color: rgb(73, 41, 125);
    }
    100% {
        color: rgb(0, 5, 14);
    }
}

.navbar {
    width: 100vw;
    height: 10vh;
    text-align: center;
    left: 0;
    top: 0;
    padding-top: 20vh;
}



.navbar-items {
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    padding: 20px;
    color: rgb(28, 28, 28);
}

.footer {
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 100px;
}

.home-content {
    width: 50vw;
    margin-left: 25vw;
    text-overflow: wrap;
    text-align: center;
    padding-top: 30px;
}


.thingsido-section {
    width: 50vw;
    margin-left: 25vw;
    text-overflow: wrap;
    text-align: center;
    padding-top: 30px;
}

iframe {
    border-radius: 20px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color:rgb(97, 68, 157);
}

iframe {
    width: 40vw;
    height: calc(40vw * 0.5625);
}

@media (max-width: 400px) {
    iframe {
        width: 60vw;
        height: calc(60vw * 0.5625);
    }
}

.navbar-music {
    width: 100vw;
    height: 5vh;
    text-align: center;
    left: 0;
    top: 0;
    padding-top: 5vh;
}

.navbar-music a {
    text-decoration: none;
    padding: 10px;
    color: rgb(184, 50, 168);
}

@media (max-width: 700px) {
    .navbar {
        width: 100vw;
        height: 10vh;
        text-align: center;
        left: 0;
        top: 0;
        padding-top: 15vh;
        padding-bottom: 5vh;
    }
    .navbar-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px 60px;
    }
    .navbar a {
        text-decoration: none;
        padding: 4px;
    }

    .home-content {
        width: 70vw;
        margin-left: 15vw;
        text-overflow: wrap;
        text-align: center;
        padding-top: 25px;
    }
    .thingsido-section {
        width: 70vw;
        margin-left: 15vw;
        text-overflow: wrap;
        text-align: center;
        padding-top: 25px;
    }
    .navbar-music {
        width: 100vw;
        height: 5vh;
        text-align: center;
        left: 0;
        top: 0;
        padding-top: 5px;
        padding-bottom: -10px;
    }
    
    .navbar-music a {
        text-decoration: none;
        padding: 5px;
        color: rgb(184, 50, 168);
    }

    
}