.home-title {
    font-size: 40px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    color: rgb(28, 28, 28);
    animation: nameColorCycle 5s infinite ease-in-out;
}

@keyframes nameColorCycle {
    0% {
        color: rgb(4, 0, 14);
    }
    10% {
        color: rgb(48, 21, 109);
    }
    20% {
        color: rgb(105, 43, 136);
    }
    30% {
        color: rgb(194, 95, 199);
    }
    40% {
        color: rgb(223, 159, 205);
    }
    50% {
        color: rgb(181, 115, 194);
    }
    65% {
        color: rgb(133, 85, 211);
    }
    85% {
        color: rgb(73, 41, 125);
    }
    100% {
        color: rgb(0, 5, 14);
    }
}

.navbar {
    width: 100vw;
    height: 10vh;
    text-align: center;
    left: 0;
    top: 0;
    padding-top: 20vh;
}

.navbar-items {
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    padding: 20px;
    color: rgb(28, 28, 28);
}

.footer {
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.home-content {
    width: 50vw;
    margin-left: 25vw;
    text-overflow: wrap;
    text-align: center;
    padding-top: 50px;
}


.thingsido-section {
    width: 50vw;
    margin-left: 25vw;
    text-overflow: wrap;
    text-align: center;
    padding-top: 40px;
}

iframe {
    border-radius: 20px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color:rgb(97, 68, 157);
}

iframe {
    width: 40vw;
    height: calc(40vw * 0.5625);
}

@media (max-width: 400px) {
    iframe {
        width: 50vw;
        height: calc(50vw * 0.5625);
    }
}

.navbar-music {
    width: 100vw;
    height: 5vh;
    text-align: center;
    left: 0;
    top: 0;
    padding-top: 3vh;
}

.navbar-music a {
    text-decoration: none;
    padding: 10px;
    color: rgb(184, 50, 168);
}