@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap');

html {
    background: linear-gradient(rgb(255, 255, 255), rgb(249, 220, 193), rgb(230, 203, 255), rgb(255, 255, 255));
    height: 100vh;
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}

div {
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
    font-size: 13px;
}

.mobile-info {
    display: none;
}

.home-title {
    font-size: 40px;
    font-family: 'Fira Mono', monospace;
    font-weight: 500;
    color: rgb(28, 28, 28);
    animation: nameColorCycle 5s infinite ease-in-out;
}

@keyframes nameColorCycle {
    0% {
        color: rgb(4, 0, 14);
    }
    10% {
        color: rgb(48, 21, 109);
    }
    20% {
        color: rgb(105, 43, 136);
    }
    30% {
        color: rgb(194, 95, 199);
    }
    40% {
        color: rgb(223, 159, 205);
    }
    50% {
        color: rgb(181, 115, 194);
    }
    65% {
        color: rgb(133, 85, 211);
    }
    85% {
        color: rgb(73, 41, 125);
    }
    100% {
        color: rgb(0, 5, 14);
    }
}

.web-navbar {
    display: block;
}

.mobile-navbar {
    display: none;
}

.navbar {
    width: 100vw;
    text-align: center;
    left: 0;
    top: 0;
    padding-top: 15vh;
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}



.navbar-items {
    width: 80%;
    margin-left: calc(50vw - 40% - 10px);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    text-decoration: none;
    padding: 20px;
    color: rgb(28, 28, 28);
}

a.highlighted-link {
    color: rgb(133, 85, 211);
    
}

.musicMenu {
    text-align: center;
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    text-align: center;
    padding-top: 20px;
    /* height: 60px; */
    padding-bottom: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.home-content {
    width: 60vw;
    margin-left: calc(20vw - 20px);
    margin-top: 20px;
    text-overflow: wrap;
    text-align: center;
    padding: 20px;
    max-height: 45vh;
    overflow-y: scroll;

    font-family: 'Fira Mono', monospace;
    font-weight: 400;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.home-content a {
    text-decoration: none;
}

.two-column-page {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    text-align: left;
    width: 60vw;
    left: 20vw;
    height: 50vh;
    margin-top: 10px;
    padding: 20px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.column-video {
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
}

a {
    text-decoration: none;
    color:rgb(97, 68, 157);
}

.footer a {
    text-decoration: none;
}

iframe {
    border-radius: 10px;
    width: 90%;
    height: calc(300px * 0.5625);
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3)
}

@media (max-width: 700px) {

    div {
        font-size: 16px;
    }
    
    .web-navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
        /* position: absolute; */
        top: 0;
        left: 0;
    }

    .home-title {
        margin-top: 20%;
        width: 100vw;
        text-align: center;
        height: 40px;
    }

    .mobile-menu-button {
        text-align: center;
        padding: 10px;
        height: 40px;
        
    }

    .mobile-menu-button div {
        font-size: 32px;
        color:rgb(73, 41, 125);
    }


    .mobile-menu {
        z-index: 500;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        height: 100vh;
        width: 100vw;
        font-size: 25px;
        text-align: center;
        padding-top: 30%;
    }

    .mobile-menu div {
        padding: 20px;
    }

    .musicMenu {
        display: block;
    }

    .home-content {
        position: relative;
        width: 70vw;
        margin-left: calc(15vw - 20px);
        text-overflow: wrap;
        text-align: center;
        padding: 20px;
        max-height: 45vh;
        overflow-y: scroll;
        height: fit-content;
    }

    .two-column-page {
        position: relative;
        left: 0;
        width: 80vw;
        margin-left: calc(10vw - 15px);
        font-size: 12px;
        padding: 15px;
        overflow-x: scroll;
    }

    .two-column-page div {
        width: 80vw; 
    }

    .column-video {
        padding: none;
    }

    iframe {
        width: 90%;
    }

    .mobile-info {
        margin-top: 16px;
        display: block;
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        padding-bottom: 140px;
    }

    
}